@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}
a{
    text-decoration: none;
    color: #111;
	font-weight: bolder;
}

p{
    color: #333;
}
img{
	width: 680px;
	height: 830px;
	object-fit: cover;
}
.header{
	background: radial-gradient(whitesmoke, white);
}
/*.header .row{
	margin-top: 70px;
}*/
#top-panel{

	padding: 20px;
	height: 10vh;
	background-color: black;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	flex-wrap: wrap;
	z-index: 3;
	display: none;
}
.top-panel p{
	color: green;
	font-size: 2em;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
}
.logo-image{
	height: 100px;
	width: 100px;
	object-fit: cover;
	border-radius: 50%;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 70px;
/*    justify-content: space-between;*/
	
}
.row .column h1{
	color: rgba(0, 100, 0, 0.75)
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    list-style-type: none;
    /*display: inline-block;*/
}
nav ul li{
    display: inline-block;
    margin-right: 10px;
    font-weight: bolder;
}
.other-nav-items a:hover{
	border-bottom: 2px solid black;
	padding-bottom: 10px;
	transition: 0.5s;
}
#active{
	background: lightblue;
	padding-top: 5px;
	border-radius: 20px;
	height: 30px;
	width: 100px;
	text-align: center;
	vertical-align: middle;
}

.shopping-categories{
	background-color: radial-gradient(lightgray, lightgray);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 3rem 3rem 1fr;
	grid-template-areas: 
	"heading"
	"navigation"
	"styles-cards";
	max-width: 900px;
	margin: 50px auto;
	margin-bottom: 0px;
}
.style-categories-heading{
	grid-area: heading;
	padding-bottom: 30px;
}

.shopping-categories h4{
	text-align: center;
	font-size: 2em;
	padding-bottom: 10px;
}

.styles-and-designs{
	height: 10vh;
	background-color: radial-gradient(lightgray, lightgray);
}
.style-links{
	grid-area: navigation;
	display: flex;
	width: 50%;
	height: 100%;
	margin: 0 auto;
	padding-top: 20px;
	justify-content: space-around;

}
.row{
	display: flex;
	align-items: center;
	padding-top: 50px;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-bottom: 50px;
	position: relative;
}
.cards{
	display: flex;
	flex-basis: 30%;
	flex-direction: column;
	background-color: lightgray;
	padding-bottom: 10px;
	margin-bottom: 20px;
	height: 100%;
	width: 100%;
}
.cards img{
	width: 100%;
	height: 100%;
}
.cards h4, h3{
	text-align: center;
	height: 100%;
	width: 100%;
}

.cards #btn{
	height: 50px;
	width: 50px;
	color: white;
	background-color: black;
	border-radius: 50%;
	margin: 0 auto;
}
.categories-btn {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	color: white;
	background-color: black;
	position: relative;
	left: 450px;
}

.all-styles-cards{
	grid-area: styles-cards;
}
.style-links li a:hover{
	color: lightcoral;
	border-bottom: black 3px solid;
	padding-bottom: 5px;
}

/*flex section*/
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}
big, small{
	display: block;
	padding-bottom: 10px;
}
#website-made-easy{
	padding-top: 20px;
}
.column{
    flex-basis: 50%;
    min-width: 300px;
}
.column img{
    max-width: 100%;
	max-height: 100%;
    padding: 50px 0;
}
.column h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.column p{
	font-size: 2rem;
}
.btn{
    display: inline-block;
    background-color: #ff523b;
    color: white;
    margin: 30px 0;
    padding: 25px 30px;
    border-radius: 60%;
	transition: background 1s;
}
.btn:hover{
	background: gold;
}

.latest-product{
	padding-top: 70px;
	background: radial-gradient(white, whitesmoke);
	max-width: 1300px;
	width: 100%;
	margin: 0 auto;
}
.latest-product h4{
	padding-bottom: 10px;
	color: #000;
	font-size: 2rem;
	font-weight: bolder;
}
.column-2{
	flex-basis: 30%;
	min-width: 300px;
	margin-bottom: 50px;
}
.column-2 img{
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}
.small-container{
	max-width: 1080px;
	margin: auto;
	margin-top: 70px;
	margin-bottom: 0;
	padding: 0 25px;
}

.most-popular-product{
	padding-top: 70px;
	background: radial-gradient(whitesmoke, white);
}
.most-popular-product h4{
	/*padding-bottom: 20px;*/
	font-size: 2rem;
	text-align: center;
	margin: 0 auto;
	line-height: 60px;
	color: #000;
	font-weight: bolder;
}

.column-3{
	flex-basis: 25%;
	min-width: 200px;
	margin-bottom: 50px;
	padding: 10px;
	transition: transform 0.7s;
}
.column-3:hover{
	transform: translateY(-50px);
}
.column-3 h5{
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 2em;
}
.column-3 p{
	font-size: 2rem;
	font-weight: bolder;
	padding: 0;
	margin: 0;
}
.column-3 img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.rating{
	padding: 0;
	margin: 0;
}
.rating .fa{
	color: orange;
}
.style-inspiration{
	padding-top: 70px;
	background: radial-gradient(white, whitesmoke);
}
.style-inspiration h4{
	padding-bottom: 10px;
	font-size: 2em;
	color: #000;
}
.exclusive-offer{
	padding-top: 30px;
	background: radial-gradient(whitesmoke, white);
}
.exclusive-offer h4{
	font-size: 2em;
	color: #000;
	padding-bottom: 10px;
}
.exclusive-offer .column{
	padding: 0 30px;
}
.column img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	padding-top: 0;
}
small{
	color: #555;
	font-weight: bolder;
}
.footer{
	background: #000;
	color: #8a8a8a;
	font-size: 14px;
	padding: 60px 80px;
}
.footer p{
	color: #8a8a8a;
}
.footer h3{
	color: #fff;
	margin-bottom: 20px;
}
.footer-column-1, .footer-column-2, .footer-column-3, .footer-column-4{
	min-width: 250px;
	margin-bottom: 20px;
}
.footer-column-1{
	flex-basis: 30%;
}
.footer-column-2{
	flex: 1;
	text-align: center;
}
.footer-column-2 img{
	width: 180px;
	margin-bottom: 20px;
}
.footer-column-3, .footer-column-4{
	flex-basis: 12%;
	text-align: center;
}
ul{
	list-style-type: none;
}
.footer hr{
	color: yellow;
	background: gold;
	border: none;
	margin-bottom: 20px 0;
	height: 2px;
	width: 30%;
	margin: 20px auto;
}
.copyright{
	text-align: center;
	padding-right: 20px 0;
}

.menu-icons{
	display: none;
	width: 28px;
	margin-left: 20px;
}
.categories{
	display: none;
}
.on{
	display: block;
}


@media only screen and (max-width: 800px){


	nav ul{
		position: absolute;
		top: 70px;
		left: 0;
		background: #333;
		width: 100%;
	}

	nav ul li{
		display: block;
		margin-right: 50px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	nav ul li a{
		color: white;
	}

	.menu-icons{

		display: block;
		cursor: pointer;
	
	}
}




